.typing-test-container {
  text-align: center;
  padding: 20px;
  position: relative;
}


.text-to-type-container {
  position: relative;
}

.text-to-type {
  font-size: 25px;
  user-select: none;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.cursor {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 20px; 
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.author-container {
  margin-top: 20px;
}

.author {
  font-style: italic;
}

@mixin toggle-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #e0e0e0;
  }

  &.active {
    background-color: #007bff;
    color: #fff;
  }
}

.toggle-text-button {
  @include toggle-button;
}

